html{
	background-image: url(img/346.jpg);
}

ul.menu, .search-form{
	display: inline;
	margin: 0px;
	padding: 1%;
	border: solid lightslategrey 3px;
	align-content: center;
}

.home-slider{
	display: inline-block;
	margin: auto;
	height: 1200px;
	width: 800px;
	padding: 0%;
	border: solid black 5px;
	align-content: right;
	text-align: left;
}

.slide-content{
	display: inline-block;
	height: 394px;
    width: 344px;
	border: thin white 3px;
	width: 33.3%;
	align-content: right;
}