body{
	background-image: url("img/346.jpg");
}

.menu-item, .icon-home, .search-form{
	display: inline;
	margin: auto;
	padding: 0%;
	text-align: left;
	border: black 2px;
	position: relative;
}

.home-slider, .slide-content,{
	display: inline-block;
	margin: 0px;
	height: 200px;
	width: 600px;
	position: relative;
}

.slide-image{
	width: 344px;
	height:394px;
	float: right;
}